body {
    background-color: black;
}

#create-title {
    color: #f13a4c;
    text-align: center;
}
#quantity input, #address textarea, #confirm, #products {
    color: black;
    display: flex;
    gap: 10px;
}

#total-cost, #confirm{
    color: white;
}

input:focus {
    color: black;
}
.column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 34%;
    gap: 30px;
}

#products {
    margin-left: -168px;
}