#hamburger-img {
    width: 40px;
    height: 40px;
}

.offcanvas-header{
    background-color: rgb(35, 35, 35);
    color: #f13a4c;
}
.btn-close {
    background-color: rgb(167, 167, 167);
}

.offcanvas-body {
    background-color: rgb(47, 47, 47);
    color: white;
}

.actions:hover, #buyer-title {
    color: #f13a4c;
}
.actions {
    margin-left: 30px;
}
