#orders-placed-title {
    color: #f13a4c;
    text-align: center;
    margin-left: 10%;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
    gap: 30px;
}

.update-reject-btns {
    display: flex;
    gap: 10px;
}

.products-orders-title {
    margin-left: 20px;
    color: white;
}

.order-created-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.customer-details-btn {
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 4px;
}
