#products-title {
    color: #f13a4c;
    margin-left: 170px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-left: -200px;
}

.product {
    border: solid 1px white;
    padding: 30px;
    border-radius: 2rem;
}

h3, b {
    color: #f13a4c
}

b {
    background-color: #f13a4c;
    color: black;
}

.column2 {
    display: flex;
    flex-direction: column;
}

#heading {
    display: flex;
    gap: 180px;
    margin-bottom: 30px;
}