#view-dispatches-title {
    color: #f13a4c;
    text-align: center;
    margin-left: 16%;
}

.order, #products {
    color: white;
}

.order {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
   padding-bottom: 7px;
   border-radius: 3rem;
   margin-left: -5%;
   border: white solid 1px;
}

#update-delete-btns {
    display: flex;
    gap: 10px;
}

.products-dispatches-title {
    margin-left: 20px;
    color: white;
}
